<div class="card">
  <h5 class="card-header card-header-color">User Registration</h5>
  <div class="card-body">
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formgroup">
          <div class="row">
            <div class="form-group-col">
              <label for="title">Title</label>
              <select name="title" id="title" formControlName="title">
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Miss">Miss</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer"></div>
    </ng-template>

    <h5 class="modal-title">User List</h5>
    <div style="text-align: right">
      <button
        class="btn btn-outline-primary mb-2 me-2"
        (click)="openXl(content)"
      >
        Add User
      </button>
    </div>
    <div class="from-row">
      <div class="from-group-col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>DOB</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mr</td>
              <td>Ajeet</td>
              <td>singh</td>
              <td>DOB</td>
              <td>10-08-1991</td>
              <td>
                <i
                  class="fa fa-edit me-3"
                  style="color: green"
                  (click)="edit(1)"
                ></i>
                <i
                  class="fa fa-trash-o me-3"
                  style="color: red"
                  (click)="delete(1)"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
