<div class="card">
  <h5 class="card-header card-header-color">User Registration</h5>
  <div class="card-body">
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modalClose()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formgroup" (ngSubmit)="submitHandler()">
          <div class="row mb-3">
            <div class="form-group col-2">
              <label for="title">Title</label>
              <select
                name="title"
                id="title"
                class="form-control"
                formControlName="title"
                [ngClass]="{
                  'is-invalid': submitted && formgroup.controls['title'].errors
                }"
              >
                <option value="">Select Title</option>
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Miss">Miss</option>
              </select>
              <div
                class="invalid-feedback"
                *ngIf="submitted && formgroup.controls['title'].errors"
              >
                Title is required
              </div>
            </div>
            <div class="form-group col-5">
              <label for="fname">First Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="firstName"
                placeholder="First Name"
                [ngClass]="{
                  'is-invalid':
                    submitted && formgroup.controls['firstName'].errors
                }"
              />

              <div
                class="invalid-feedback"
                *ngIf="submitted && formgroup.controls['firstName'].errors"
              >
                FirstName is Required
              </div>
            </div>

            <div class="form-group col-5">
              <label for="fname">Last Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="lastName"
                placeholder="Last Name"
                [ngClass]="{
                  'is-invalid':
                    submitted && formgroup.controls['lastName'].errors
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="submitted && formgroup.controls['lastName'].errors?.['required']"
              >
                LastName is Required
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="form-group col-5">
              <label for="dob">Date Of Birth</label>
              <input
                type="date"
                class="form-control"
                formControlName="dob"
                [ngClass]="{
                  'is-invalid':
                    submitted && formgroup.controls['firstName'].errors
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="submitted && formgroup.controls['dob'].errors"
              >
                <div *ngIf="formgroup.controls['dob'].errors?.['required']">
                  Date Of Birth is Required
                </div>
                <div *ngIf="formgroup.controls['dob'].errors?.['pattern']">
                  Date Of Birth is invalid
                </div>
              </div>
            </div>
            <div class="form-group col-5">
              <label for="email">EmailID</label>
              <input
                type="text"
                class="form-control"
                formControlName="email"
                [ngClass]="{
                  'is-invalid': submitted && formgroup.controls['email'].errors
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="submitted && formgroup.controls['email'].errors"
              >
                <div *ngIf="formgroup.controls['email'].errors?.['required']">
                  Email is Required
                </div>
                <div *ngIf="formgroup.controls['email'].errors?.['email']">
                  Email is Invalid
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="form-group col-5">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="password"
                [ngClass]="{
                  'is-invalid':
                    submitted && formgroup.controls['password'].errors
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="submitted && formgroup.controls['email'].errors"
              >
                <div
                  *ngIf="formgroup.controls['password'].errors?.['required']"
                >
                  Password is Required
                </div>
                <div
                  *ngIf="formgroup.controls['password'].errors?.['minLength']"
                >
                  Password should be at least 8 characters
                </div>
              </div>
            </div>
            <div class="form-group col-5">
              <label for="cpassword">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="confirmPassword"
                [ngClass]="{
                  'is-invalid':
                    submitted && formgroup.controls['confirmPassword'].errors
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="formgroup.controls['confirmPassword'].errors"
              >
                <div
                  *ngIf="submitted && 
                    formgroup.controls['confirmPassword']?.errors?.['required']
                  "
                >
                  Confirm Password is Required
                </div>
                <div
                  *ngIf="
                  formgroup.controls['confirmPassword']?.errors?.['mustMatch']
                "
                >
                  Password and Confirm Password should be same
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="form-group col form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="acceptTerm"
                formControlName="acceptTerm"
                [ngClass]="{
                  'is-invalid':
                    submitted && formgroup.controls['acceptTerm'].errors
                }"
              />
              <label for="acceptTerm" class="form-check-label">
                Accept Terms and conditions</label
              >
              <div
                class="invalid-feedback"
                *ngIf="submitted && formgroup.controls['acceptTerm'].errors?.['required']"
              >
                Accept Terms and conditions is required True
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="form-group text-center">
              <button class="btn btn-success me-3" cl>{{ btnName }}</button>
              <button class="btn btn-danger" (click)="cancelHandler()">
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer"></div>
    </ng-template>

    <h5 class="modal-title">User List</h5>
    <div style="text-align: right">
      <button
        class="btn btn-outline-primary mb-2 me-2"
        (click)="openXl(content)"
      >
        Add User
      </button>
    </div>
    <div class="from-row mb-3">
      <div class="from-group col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>DOB</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mr</td>
              <td>Ajeet</td>
              <td>singh</td>
              <td>DOB</td>
              <td>10-08-1991</td>
              <td>
                <i
                  class="fa fa-edit me-3"
                  style="color: green"
                  (click)="edit(1)"
                ></i>
                <i
                  class="fa fa-trash-o me-3"
                  style="color: red"
                  (click)="delete(1)"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
